<% @buttons.each do |button| %>
<div class="col">
  <% if button.external %>
    <a href="<%= button.pres_path %>"> <img class="buttons" src="./public/img<%= button.img_path %>"> </a>
    <p class="below"> <%= button.caption %> </p>
  <% elsif button.indexing %>
    <img class="buttons" src="./public/img/<%= button.img_path %>" onclick="fetch('./<%= @exhibit%>/initial?index=<%= @button_index + 1 %>')
    .then((response) => response.text())
    .then((data) => document.getElementById('slideurl').src=data);
    fetch('./<%= @exhibit%>/buttons?index=<%= @button_index + 1 %>')
    .then((response) => response.text())
    .then((data) => document.getElementById('controller').innerHTML = data)">
    <p class="below"> <%= button.caption %> </p>
  <% else %>
    <img class="buttons" src="./public/img/<%= button.img_path %>" onclick="document.getElementById('slideurl').src='<%= button.pres_path %>'" >
    <p class="below"> <%= button.caption %> </p>
  <% end %>
</div>

<% end %>
